@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --main-color: hsl(176, 50%, 47%);
  --primary-color: hsl(176, 72%, 28%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 100%, 50%);
  --grey-color: #888;
  --shadow-1: 0px 0 5px 0px #000;
  --shadow-2: 0px 0px 1.5px 0px #777;
  
  --rounded-6: 6px;
  --main-transition: 0.5s ease;
}
/* start global rules*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  font-size: 16px;
  background: linear-gradient(180deg, var(--main-color) 40%, #4aadbd 58%);
  background-repeat: no-repeat;
}
::-webkit-scrollbar {
  display: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button:focus-visible {
  outline: 2px solid gray;
}
.container {
  padding-inline: 15px;
  margin-inline: auto;
}
/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*end gloal rules*/
.welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  position: absolute;
  height: 100vh;
  z-index: 111112;
  top: 0;
  width: 100%;
}
.welcome-page img {  animation: logoAnimation 1s linear; }

@keyframes logoAnimation {
  0% {
    width: 0px;
  } 
  50% {
    width: 70px;
  }
  100% {
    width: 50px;
  }
}
/*==============================================  Header begins  ==================================================*/
header {
  box-shadow: var(--shadow-1);
  padding-block: 10px;
  position: fixed;
  z-index: 111111;
  width: 100%;
  background-color: var(--main-color);
}
header .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .logo {
  color: var(--white);
  display: flex;
  align-items: center;
}
header .container .menu-icon {
  position: relative;
  padding: 6px 5px;
  display: flex;
  border-radius: var(--rounded-6);
  cursor: pointer;
}
header .notification-icon {
  scale: 0 0;
  color: var(--white);
  background-color: var(--red);
  padding-inline: 7px;
  position: absolute;
  border-radius: 50%;
  top: -5px;
  right: -3px;
  transition: 300ms;
}
.show-mobile-menu {  display: block !important; }
.open-menu-bar {  cursor: pointer; }

.menu-bar {
  padding-inline-end: 13px;
  width: 60%;
  background-color: var(--white);
  position: absolute;
  top: 0%;
  opacity: 0;
  right: -100%;
  min-height: calc(100vh - 5%);
  z-index: -1111;
  padding-inline-start: 1rem;
  padding-block-start: 1rem;
  transition: 400ms;
  box-shadow: var(--shadow-2);
}
.menu-bar.open-menu {
  right: 0%;
  opacity: 1 !important;
  z-index: 4444 !important;
  min-height: 100vh;
}
.menu-bar .close-menu-bar {
  cursor: pointer;
  background: var(--red);
  padding: 6px;
  border-radius: 50%;
  margin-block-end: 3rem;
}
.menu-bar li {
  display: flex;
  justify-content: space-between;
  color: var(--grey-color);
  margin-block-end: 10px;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: var(--rounded-6);
  font-family: normal;
  font-size: 19px;
}
.menu-bar li .words-counter {
  color: var(--main-color);
  font-weight: bold;
}
.menu-bar li:is(.active, :hover, :focus-visible) {
  background: var(--main-color);
  color: var(--white);
}
.menu-bar li:is(.active, :hover, :focus-visible) .words-counter {
  background: var(--main-color);
  color: var(--white);
}
/*==============================================  Header ends  ====================================================*/
/*==============================================  search-section begins  ====================================================*/
.form-section .container {
  margin-block-start: 20px;
}
.form-section .container .form-wrapper {
  position: relative;
  background: var(--white);
  padding: 1rem;
  border-radius: 3px;
}
.form-section .container .form-wrapper input[type="search"] {
  width: 100%;
  padding-block: 15px;
  padding-inline: 10px;
  margin-block-end: 10px;
  font-size: 17px;
  border: 2px solid var(--main-color);
  border-radius: var(--rounded-6);
}
.form-section .container .form-wrapper input[type="search"]:focus-visible {
  background-color: hsl(0, 0%, 93%);
  outline: none;
  border: 2px solid transparent;
}
.form-section .container .form-wrapper .add-btn {
  display: flex;
  background: var(--main-color);
  color: var(--white);
  padding-inline: 20px;
  padding-block: 13px;
  margin-left: auto;
  border-radius: 6666px;
  border: none;
  cursor: pointer;
}
.Error-message {
  color: var(--red);
  font-size: 13px;
  width: fit-content;
  display: none;
}
.Error-message.ShowError {
  display: block !important;
}
/*==============================================  form-section ends  ====================================================*/
/*==============================================  words container start  ====================================================*/
.Tab_one, .Tab_Two {
  width: 100%;
  position: absolute;
  top: 120px;
  z-index: -1111;
  opacity: 0;
  transition: all 500ms;
}
/* for depugging */
.Tab_Two {
  height: 50%;
}
.Tab_Two.active-tab {
  height: calc(100vh - 70px);
}
.words-list {
  background-color: transparent;
  width: 100%;
  overflow: scroll;
}
.active-tab {
  top: 70px !important;
  z-index: 2222 !important;
  opacity: 1 !important;
}
.words-list .container {
  display: flex;
  flex-direction: column-reverse;
  padding-inline: 6px;
  margin-block-start: 10px;
}
/* .words-list .container h2 {
  position: absolute;
  color: #777;
  font-size: 1.3rem;
  text-transform: capitalize;
  top: 50%;
  left: 50%;
  translate: -50%;
} */
.words-list .container .word-container {
  position: relative;
  color: var(--white);
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 14px;
  font-size: 1.1rem;
  font-family: normal;
  padding-inline: 10px;
  transition: all 500ms;
  margin-block-end: 4px;
  border-radius: var(--rounded-6);
}
.half-swapEffect {
  translate: -15% 0;
}
.full-swapEffect {
  translate: -200% 0;
}
/* .words-list .container .word-container .delete-icon {
  width: 20px;
  filter: invert(1);
} */
.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: flex-end;
}
.delete_icon {
  /* position: absolute;
  right: 65px; */
  width: 20px;
  cursor: pointer;
  text-align: right;
}
.words-list .container .listen-icon {
  width: 35px;
  cursor: pointer;
}
/*==============================================  words container ends  ====================================================*/

.delete-confirmation {
  width: 90%;
  scale: 0 0;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50%;
  background-color: hsl(0, 0%, 93%);
  padding-block-start: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 1px 304px rgb(0 0 0 / 23%);
  z-index: 888888;
  transition: 200ms;
}
.delete-confirmation h4 {
  font-size: 20px;
  color: var(--grey-color);
  border-bottom: 1px solid var(--grey-color);
  padding-block-end: 15px;
  padding-inline: 11px;
}
.delete-confirmation .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delete-confirmation button {
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
  background: none;
  border: none;
  padding-block: 1rem;
}
.delete-confirmation .cancel-btn {  color: var(--main-color); }
.delete-confirmation  .delete-btn {  color: var(--red); }